.active {
	opacity:.5;
}
nav#people ul {
	margin:0;
	padding:0;
}
nav#people ul li {
	display: inline-block;
}
nav#people img {
	max-width: 100%;
	max-height: 100%;
}
#people-single nav#people li {
	width:100px;
}