---
title: Committees
layout: index
category: about
permalink: /about/committees/
body_id: committees
filepath: /about/committees.md
published: true
---

<h2 id="academic_standards">Academic Standards</h2>

<p>The Academic Standards Committees define the minimum academic performance acceptable to each faculty, review academic performances each semester, and determine whether students are allowed to continue at The Cooper Union or are asked to withdraw for failing to meet these standards. The Academic Standards Committees are also involved in cases involving academic dishonesty.</p>

{% if site.tags.academic-standards %}
	<ul>
		{% for item in site.tags.academic-standards reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='ad_chairs'>Ad-Chairs</h2>

<p>The Ad-Chairs run the individual student councils and the Joint Student Council. They serve as liaison to the Deans' offices. Art Student Council elects one of their chairs to the Administrative Committee of the School of Art.</p>

{% if site.tags.ad-chairs %}
	<ul>
		{% for item in site.tags.ad-chairs reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='admissions'>Admissions</h2>

<p>The Admissions Committees set the policies on admissions and recruitment.</p>

{% if site.tags.admissions %}
	<ul>
		{% for item in site.tags.admissions reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='alumni'>Alumni</h2>

<p>The Alumni Committee determines qualifications for admissions.</p>

{% if site.tags.alumni %}
	<ul>
		{% for item in site.tags.alumni reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='board_chairman'>Board Chairman</h2>

<p>The Board Chairman Committee meets with the chairman of the board for more effective discussion.</p>

{% if site.tags.board-chair %}
	<ul>
		{% for item in site.tags.board-chair reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='campus_security'>Campus Security</h2>

<p>New York State requires the election of students to serve on a campus wide security committee to enforce state law. The mandate for the committee is: The committee shall review current campus security policies and procedures and make recommendations for their improvement.</p>

{% if site.tags.campus-security %}
	<ul>
		{% for item in site.tags.campus-security reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='curriculum'>Curriculum</h2>

<p>Each of the four faculties has a curriculum committee that decides when to add new courses, eliminate old courses, expand the curriculum in a certain direction, and determines which courses are elective and which required.</p>

{% if site.tags.curriculum %}
	<ul>
		{% for item in site.tags.curriculum reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='fun'>Fun!</h2>

<p>ESC hosts a number of social events over the course of the year, typically 2 big parties and a number of other smaller events.</p>

{% if site.tags.fun %}
	<ul>
		{% for item in site.tags.fun reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='humanities'>Humanities</h2>

<p>Similiar to the Curriculum Committee but is specific to the School of Humanities.</p>

{% if site.tags.humanities %}
	<ul>
		{% for item in site.tags.humanities reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='joint_activities'>Joint Activities</h2>

<p>The JAC determines funding for recognized clubs and also has disciplinary power over clubs. Each school elects three representatives and one alternate.</p>

{% if site.tags.joint-activities %}
	<ul>
		{% for item in site.tags.joint-activities reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='judicial'>Judicial</h2>

<p>The Judicial Committee meets to hear complaints filed under the Cooper Union Code of Fair Practice and to adjudicate these complaints. Each representative has his or her own alternate so that the proper balance of class years is maintained on the hearing panel; representatives must pass materials directly to the alternate if the representative cannot attend a hearing. Each school elects two representatives and two alternates.</p>

{% if site.tags.judicial %}
	<ul>
		{% for item in site.tags.judicial reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='judicial_appeals'>Judicial Appeals</h2>

<p>A Judicial Appeal Committee, consisting of one dean and two students, is formed when a student files a timely appeal of a decision of the Judicial Committee.</p>

{% if site.tags.judicial-appeals %}
	<ul>
		{% for item in site.tags.judicial-appeals reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='library'>Library</h2>

<p>The library committee serves as an advisory board to the head librarian. Two representatives and one alternate are elected from each school</p>

{% if site.tags.library %}
	<ul>
		{% for item in site.tags.library reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='senate'>Senate</h2>

<p>The Senate was reconstituted, after a recess of more than a decade, as an advisory and consultative body to the President of Cooper Union. Each of the three Student Councils were asked to elect two representatives:</p>

{% if site.tags.library %}
	<ul>
		{% for item in site.tags.library reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='academic_and_student_affairs'>Academic and Student Affairs</h2>

{% if site.tags.academic-and-student-affirs %}
	<ul>
		{% for item in site.tags.academic-and-student-affairs reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='survey'>Survey</h2>

<p>The survey committee is responsible for compiling the information from surveys sent out by the council, and, if appropriate, preparing a distribution to be provided to all engineering students.</p>

{% if site.tags.survey %}
	<ul>
		{% for item in site.tags.survey reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}

<h2 id='trustees'>Trustees</h2>

<p>The Trustees Committee meets with the President and the Board.</p>

{% if site.tags.trustees %}
	<ul>
		{% for item in site.tags.trustees reversed %}
		<li>
			<a href="{{item.url}}" title="{{item.title}}">{{ item.date | date:"%B %d, %Y" }} by {{ item.notetaker }}</a>
		</li>
		{% endfor %}
	</ul>
{% endif %}