<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="stylesheet" href="/css/style.css">
</head>
<body {% if page.body_id %}id="{{ page.body_id }}"{% endif %}>
{% include nav.html %}

<h1>{{ page.title }}</h1>

{{ content }}

<footer>
	{% if page.prose_url %}
	Help improve this page by <a href="{{ page.prose_url }}">submitting an edit request</a>.
	{% endif %}
</footer>
</body>
</html>