<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="stylesheet" href="/css/style.css">
</head>
<body {% if page.body_id %}id="{{ page.body_id }}"{% endif %}>
{% include nav.html %}

<section id="content">
{{ content }}
</section>
{% if page.filepath %}
	<footer>
		View this <a href="https://github.com/CooperASC/cooperasc.github.com/commits/master/{{ page.filepath }}">page's history on Github</a> and help improve it by <a href="http://prose.io/#CooperASC/cooperasc.github.com/edit/master/{{ page.filepath }}">submitting an edit request</a>.
	</footer>
{% endif %}
</body>
</html>